@model IEnumerable<EmailAssistant.Models.Email>

@{
    ViewData["Title"] = "View Summary";
}

<p>Individual email summaries can be found in view for all emails.</p>
<p>High-level summaries, such as summaries per sender, or summaries per day,</p>
<p>are coming soon, and will be found on this page.</p>